body {
    background-color: #1A4350;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.create-room-container {
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.input-group {
    margin: 20px 0;
    text-align: center; /* Align labels and inputs to the center */
}

.input-group label {
    display: block;
    font-size: 15px; /* Adjust font size if needed */
    margin-bottom: 8px;
    text-align: center; /* Center the labels */
}

input[type="text"],
input[type="number"] {
    width: 100%; /* Make input fields take full width of the container */
    max-width: 300px; /* Set a maximum width */
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #145159;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0c2e32;
}
