<!-- myapp/templates/home.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoomMate</title>
    <link rel="stylesheet" href="{% static 'Main/css/main.css' %}">
</head>
<body>
    <div class="profile-icon">
        <a href="#" title="Profile">
            <img src="/media/profile-user.png" alt="Profile" style="border-radius: 50%; width: 100%; height: 100%;">
        </a>
    </div>
    <div class="container">
        <h1 class="logo">RoomMate</h1>
        <a href="#">Create Room</a> |
        <a href="#">Enter Room</a>
    </div>
</body>
</html>
